<script>
    import ChartComponent from "./ChartComponent";
    export let config;
    export let options;
    $: data = config;
</script>

<style>
    .wrapper {
        height: 300px;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .chart {
        width: 100%;
    }
</style>

<div class="wrapper">
    <div class="chart">
        <ChartComponent {data} {options} />
    </div>
</div>
