<script>
    export let name;
    export let refresh;
    export let property;
</script>
<style>
  label {
    padding: 0 1rem;
  }
</style>

<label>
	{name}
	<input type=checkbox bind:checked={property} on:change="{refresh}">
</label>