<script>

    import ConfiguratorSelect from "./ConfiguratorSelect";
    import ChartCheckBox from "./ChartCheckBox"
	import {ChartTypes} from "./ChartTypes";

	//export block
	export let rows;
	export let config;
	export let options;
	export let columnNames;

	//variables block
	let selectedFirst = columnNames[0];
	let selectedSecond = columnNames[1];
	let selectedChartType = ChartTypes[0].type;
	let isToolTip = true;
    let isPoint = true;
    let isLegend = true;
    let isZoom = false;
    let isSubChart = false;
	let isSubYAxis = false;
	let isRotated = false;
	let types = [];

	if (ChartTypes)
		ChartTypes.forEach(type => {
            types.push(type.name);
		});

	function cngFistOpt(value) {
		selectedFirst = value;
		refresh();
	}

	function cngScndOpt(value) {
		selectedSecond = value;
		refresh();
	}

	function cngChrtType(value) {
		let cType = ChartTypes.find(type =>
						type.name === value
		);
		console.log(cType);
		selectedChartType = cType.type;
		refresh();
	}

	function refresh() {

		const firstArr = [selectedFirst];
		const secondArr = [`${selectedSecond}X`];

		rows.forEach(row => {

			for (let key in row) {
				if (selectedFirst == key)
					firstArr.push(row[key]);

				if (selectedSecond == key)
					secondArr.push(row[key]);
			}

		});

		config = {
            columns: [
                firstArr,
                secondArr
            ],
            xs: {
                [selectedFirst]: `${selectedSecond}X`
            },
            types: {
                [selectedFirst]: selectedChartType
            }
        };

        options = {
            zoom: {
                enabled: isZoom
            },
            tooltip: {
                show: isToolTip
            },
            legend: {
                show: isLegend
            },
            subchart: {
                show: isSubChart
            },
            point: {
                show: isPoint
            },
            axis: {
                y2: {
                    show: isSubYAxis
                },
                rotated: isRotated
            }
        }
	}

	function AddChartType(cnf, chartType) {
		cnf.type = chartType;
		return cnf;
	}

  $: configAsStr = config == null ? "" : JSON.stringify({data:config, ...options}, undefined, 2);

</script>

<style>
	.configurator {
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .data {
        padding: 0 .5rem;
        border: 1px solid green;
    }
</style>

<div class="configurator">
	<div class="data">
		<pre>
          <code>
            {configAsStr}
          </code>
        </pre>
	</div>
    <div>
        <ConfiguratorSelect name="От чего:" options={columnNames} onChange={cngFistOpt} />
        <ConfiguratorSelect name="Что зависит:" options={columnNames} onChange={cngScndOpt} />
        <ConfiguratorSelect name="Тип графика:" options={types} onChange={cngChrtType} />
        <ChartCheckBox name="Тултипы:" {refresh} bind:property={isToolTip} />
        <ChartCheckBox name="Масштабируемость:" {refresh} bind:property={isZoom} />
        <ChartCheckBox name="Легенда :" {refresh} bind:property={isLegend} />
        <ChartCheckBox name="Subchart :" {refresh} bind:property={isSubChart} />
        <ChartCheckBox name="Points :" {refresh} bind:property={isPoint} />
        <ChartCheckBox name="Дополнительная ось Y :" {refresh} bind:property={isSubYAxis} />
        <ChartCheckBox name="Повернуть оси :" {refresh} bind:property={isRotated} />
    </div>
</div>