<script>
    export let data;
    export let options;

    import c3 from "c3";

    let elem;

    $: {
			if (elem && data)
				c3.generate({
					bindto: elem,
					data,
                    ...options
				});
		}
</script>

<div bind:this={elem}></div>


