<script>
	//import block
	import Chart from "./Chart"
	import ChartConfigurator from "./ChartConfigurator.svelte";

	//export block
	export let rows;
	export let columnNames;
	let config;
	let options;

</script>

<style>
	.wrapper {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
</style>

<div class="wrapper">
    <Chart {config} {options} />
    <ChartConfigurator bind:options={options} bind:config={config} {rows} {columnNames} />
</div>
