<script>
  export let name;
  export let options;
  export let onChange;

  let selected;
</script>

<style>
	.wrapper {
		justify-content: center;
		display: flex;
		align-items: center;
		height: 4rem;
		font-size: 18px;
	}

	.wrapper select {
		margin: 0;
		padding: 0;
		width: 50%;
	}

	.wrapper div:first-child {
		padding: 0 1rem;
		width: 50%;
	}
</style>

<div class="wrapper">
	<div>{name}</div>
	<select bind:value={selected} on:change="{() => onChange(selected)}">
      {#each options as option}
        <option value={option}>{option}</option>
      {/each}
	</select>
</div>