<script>
	import ChartWithEditComponent from "components/Chart/Chart";
	import ChartWithLogic from "components/Chart";

	const columnsNames = ["age", "price", "weight", "height"];
	const data = [
		{
			age: 25,
			price: 13.23,
			weight: 223,
			height: 23
		},
		{
			age: 17,
			price: 43.23,
			weight: 1223,
			height: 11
		},
		{
			age: 11,
			price: 7.23,
			weight: -423,
			height: 11
		},
		{
			age: 40,
			price: 203,
			weight: 550,
			height: 43
		}
	];

	let dataTest = {
		columns: [
			['data1', 30, 200, 100, 400, 150, 250],
			['data2', 130, 100, 140, 200, 150, 50]
		],
		type: 'spline'
	};


</script>
<ChartWithLogic rows={data} columnNames={columnsNames} />


